body {
font-family: 'roboto',sans-serif;
text-decoration: none;
font-color: black;
justify-content: center;
text-align: center;
padding-top: 20px;
padding-bottom: 20px;
margin-bottom: 30px;
background-position: center;
animation: fadeIn ease-out 0.5s;
}

head {
font-family: 'roboto',sans-serif;
color: black;
text-decoration: none;
font-size: 15px;
text-align: center;
justify-content: center;
position: relative;
padding-top: 10px;
padding-bottom: 10px;
}

.nav {
background-color: rgb(178, 190, 181);
font-color: black;
font-weight: bold;
padding-top: 5px;
padding-bottom: 5px;
margin: top;
box-shadow: rgb(178, 190, 181);
text-decoration: underline;
font-family: 'roboto',sans-serif;
height: 40px;
}

.nav:hover {
font-color: blue;
text-decoration: underline;
font-weight: thin;
}

.nav-button {
 background-color: rgb(178, 190, 181);
 font-color: black;
 text-decoration: none;
 font-family: 'roboto',sans-serif;
 }

.welcome {
width: 100%;
overflow-wrap: break-word;
font-size: 20px;
justify-content: left;
text-align: center;
margin: left;
}

h1 {
font-size: 3em;
font-color: #1a1a1a;
text-decoration: underline;
padding-top: 10px;
padding-bottom: 10px;
font-weight: bold;
font-family: 'roboto',sans-serif;
}

p {
font-size: 20px;
font-color: black;
text-align: center;
padding-top: 10px;
padding-bottom: 10px;
font-family: 'roboto',sans-serif;
}

.button {
background-color: white;
font-color: black;
font-size: 15px;
font-weight: bold;
text-decoration: underline;
padding-top: 5px;
padding-bottom: 5px;
font-family: 'roboto',sans-serif;
text-align: center;
justify-content: center;
border: 3px;
border-color: blue;
width: 100px;
height: 100px;
overflow-wrap: fit;
}

.button:hover {
background-color: black;
font-color: white;
width: 120px;
border-color: 4px;
text-decoration: none;
}











