body {
font-family: 'roboto',sans-serif;
text-decoration: none;
font-color: black;
justify-content: center;
text-align: center;
padding-top: 20px;
padding-bottom: 20px;
margin-bottom: 30px;
background-position: center;
animation: fadeIn ease-out 0.5s;
}

head {
font-family: 'roboto',sans-serif;
color: black;
text-decoration: none;
font-size: 15px;
text-align: center;
justify-content: center;
position: relative;
padding-top: 10px;
padding-bottom: 10px;
}

.nav {
background-color: rgb(178, 190, 181);
font-color: black;
font-weight: bold;
padding-top: 5px;
padding-bottom: 5px;
margin: top;
box-shadow: rgb(178, 190, 181);
text-decoration: underline;
font-family: 'roboto',sans-serif;
cursor:pointer;
}

.nav:hover {
font-color: blue;
text-decoration: underline;
font-weight: thin;
cursor:pointer;
}

.nav-button {
 background-color: rgb(178, 190, 181);
 font-color: black;
 text-decoration: none;
 font-family: 'roboto',sans-serif;
 }

h1 {
font-size: 2em;
font-color: #1a1a1a;
text-decoration: underline;
padding-top: 10px;
padding-bottom: 10px;
font-weight: bold;
font-family: 'roboto',sans-serif;
background-color: white;
}

input[type="text"] {
  width: 50%;
  box-sizing: border-box;
  font-size: 20px;
  padding: 0.7% 0.7%;
  text-align: center;
  border-radius: 4px;
  outline: none;
  margin: 11px;
  border: 2px solid #000000;
  border-radius: 4px;
  transition: opacity 0.25s ease-in-out;
  opacity: 100%;
}

.tutorials {
  color: #1a1a1a;
  font-family: "roboto", sans-serif;
  border: 2px solid #262626;
  border-radius: 8px;
  text-decoration-line: none;
  grid-template-columns: 200px 1fr max-content;
}

.tutorials img {
  width: 150px;
  border-radius: 15px;
  aspect-ratio: 1 / 1;
}

.tutorials {
  width: 20%;
  border-radius: 15px;
  display: inline-block;
  background-color: var(--uibg);
  margin: 15px;
  cursor: pointer;
  box-shadow: 0px 0px 5px 5px var(--uibg);
}
